input[type="range"] {
    width: 100%;
    background: #c3bcbc;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    height: 10px;
    outline: none;
    transition: all 0.3s ease;
}

input[type="range"]:focus {
    border-color: #3b82f6;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #3b82f6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#slider-value {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

body {
    background-color: #e60380;
  }

.area-code-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
  
.area-code-btn:hover {
    background-color: #c8026f; 
}